
nav {
    background-color: #0bcfd2;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;

    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}
nav ul li a {
    color: white;
    text-decoration: none;
}